<div class="max-w-2xl mx-auto p-6">
  <h1 class="text-3xl font-bold mb-4"><%= @post.title %></h1>

  <div class="bg-white rounded-lg border border-gray-200 p-6 mb-4">
    <p class="text-gray-700 whitespace-pre-wrap"><%= @post.content %></p>
  </div>

  <div class="space-x-4">
    <%= link_to 'Edit', edit_post_path(@post), 
        class: "text-blue-600 hover:text-blue-800" %>
    <span class="text-gray-300">|</span>
    <%= link_to 'Back', posts_path, 
        class: "text-gray-600 hover:text-gray-800" %>
  </div>
</div>